<div class="dialog-container">
    <img loading="lazy" src="./assets/template/welcome/bubble-frame.png" alt="Welcome Speech Bobble"/>
    <div class="console">
        <p class="hello" i18n="dialog@@hello">Hello! Welcome to my resume website<span class="auto-type"></span></p>
       <!-- <span
            class="txt-rotate"
            appTypingAnimation
            [phrasePeriod]="2000"
            [startDelay]="1500"
            [typeSpeed]="200"
            [data]='[
                {
                    "language": "pt",
                    "phrases": [ "Meu nome é Areen.", "Seja bem-vindo(a) ao meu resumo online.", "Abaixo, você me conhecerá melhor..." ]
                },
                {
                    "language": "en",
                    "phrases": [ "My name is Areen.", "Welcome to my Live Resume.", "Down below, you will know me better..." ]
                }
            ]'></span>

            <span class="txt-rotate" appTypingAnimation [phrasePeriod]="2000" [startDelay]="1500" [typeSpeed]="200" [data]="getData()"></span>-->

    </div>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<script>
    var typed =new Typed(".auto-type", {
        strings: ["My name is Areen.", "Welcome to my Live Resume.", "Down below, you will know me better..."],
        typeSpeed: 200,
        backSpeed: 200,
        fadeOut: true,
        loop: true
    });
</script>
</div>
